@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.ban-byr {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

@media (max-width: 680px) {
  .ban-byr {
    flex-direction: column;
    text-align: center;
  }
}

.ban-byr__img {
  width: 100%;
  height: 500px;
  position: relative;
}

@media (max-width: 680px) {
  .ban-byr__img {
    height: 237px;
    margin-bottom: 30px;
  }
}

.ban-byr__text {
  max-width: 1500px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #434343;
  font-size: 48px;
  text-transform: uppercase;
}

@media (max-width: 1516px) {
  .ban-byr__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .ban-byr__text {
    font-size: 36px;
  }
}

@media (max-width: 680px) {
  .ban-byr__text {
    position: relative;
    justify-content: center;
    line-height: 40px;
  }
}

.ban-byr__text-wrp {
  max-width: 877px;
}

@media (max-width: 680px) {
  .ban-byr__text-wrp {
    max-width: 342px;
  }
}

.ban-byr__text-wrp-main {
  padding: 5px 10px;
  background-color: #ededed99;
  transition: all 1s ease-out;
}

@media (max-width: 680px) {
  .ban-byr__text-wrp-main {
    background-color: #ededed00;
    font-size: 24px;
  }
}

.ban-byr__img-wrp {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 680px) {
  .ban-byr__img-wrp {
    display: none;
  }
}

.ban-byr__img-wrp-mob {
  width: 100%;
  height: 237px;
  object-fit: cover;
  display: none;
}

@media (max-width: 680px) {
  .ban-byr__img-wrp-mob {
    display: flex;
  }
}

.js-div {
  transform: translate(0px, 80%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0, 0.98, 0.89, 0.96);
}

._active {
  transform: translate(0px, 0);
  opacity: 1;
  transition: all 0.6s cubic-bezier(0, 0.98, 0.89, 0.96);
}

.ban-byr-ins {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

@media (max-width: 680px) {
  .ban-byr-ins {
    flex-direction: column;
    text-align: center;
  }
}

.ban-byr-ins__img {
  width: 100%;
  height: 500px;
  position: relative;
}

@media (max-width: 680px) {
  .ban-byr-ins__img {
    height: 278px;
  }
}

@media (max-width: 680px) {
  .ban-byr-ins__img-wrp {
    height: 278px;
    margin-bottom: 30px;
  }
}

.ban-byr-ins__text {
  max-width: 1500px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media (max-width: 1516px) {
  .ban-byr-ins__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .ban-byr-ins__text {
    font-size: 36px;
  }
}

@media (max-width: 680px) {
  .ban-byr-ins__text {
    justify-content: center;
    align-items: center;
  }
}

.ban-byr-ins__text-wrp {
  max-width: 877px;
  margin-bottom: 15px;
}

@media (max-width: 680px) {
  .ban-byr-ins__text-wrp {
    max-width: 342px;
  }
}

.ban-byr-ins__text-wrp-main {
  margin-bottom: 15px;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #434343;
  text-transform: uppercase;
}

@media (max-width: 680px) {
  .ban-byr-ins__text-wrp-main {
    background-color: #ededed00;
    font-size: 24px;
  }
}

.ban-byr-ins__img-wrp {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 680px) {
  .ban-byr-ins__img-wrp {
    height: 278px;
  }
}

.ban-byr-ins__text-p {
  max-width: 446px;
  font-size: 20px;
}

@media (max-width: 680px) {
  .ban-byr-ins__text-p {
    display: none;
  }
}

.ban-byr-ins__input {
  max-width: 385px;
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
}

.ban-byr-ins__input::placeholder {
  color: #d1d1d1;
}

.ban-byr-ins__form {
  width: 446px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
}

@media (max-width: 680px) {
  .ban-byr-ins__form {
    width: 330px;
  }
}

.ban-byr-ins__btn {
  padding-right: 18px;
  position: relative;
}

.ban-byr-ins__btn::after {
  content: "";
  height: 30px;
  width: 1px;
  top: 9px;
  left: -18px;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-main-cont {
  background-color: #e9e9e9;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.instr-main-cont__line {
  width: 100%;
  border-top: 1px solid #d1d1d1;
}

.instr-main-cont__wrp {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1376px) {
  .instr-main-cont__wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 960px) {
  .instr-main-cont__wrp {
    padding-left: 0;
    padding-right: 0;
  }
}

.instr-main-cont__nav {
  height: 60px;
  display: grid;
  grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
  align-items: center;
}

@media (max-width: 960px) {
  .instr-main-cont__nav {
    grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
  }
}

.instr-main-cont__name-white {
  min-height: 43px;
  display: grid;
  grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
  align-items: center;
  background-color: #ffffff;
}

@media (max-width: 960px) {
  .instr-main-cont__name-white {
    grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
  }
}

.instr-main-cont__name-black {
  min-height: 43px;
  display: grid;
  grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
  align-items: center;
  background-color: #f6f6f6;
}

@media (max-width: 960px) {
  .instr-main-cont__name-black {
    grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
  }
}

.instr-main-cont__nav-code {
  padding-left: 32%;
}

@media (max-width: 1376px) {
  .instr-main-cont__nav-code {
    padding-right: 15px;
  }
}

@media (max-width: 1376px) and (max-width: 1080px) {
  .instr-main-cont__nav-code {
    padding-left: 27%;
  }
}

.instr-main-cont__nav-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f36c21;
}

.instr-main-cont__nav-details-img {
  width: 11px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: transform 0.6s;
}

.instr-main-cont__nav-details-main {
  display: flex;
  justify-content: center;
  position: relative;
}

.instr-main-cont__nav-details-main::before {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-main-cont__nav-details-main::after {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-main-cont__line-vertically-code {
  position: relative;
}

.instr-main-cont__line-vertically-code::before {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-main-cont__line-vertically {
  position: relative;
}

.instr-main-cont__line-vertically::before {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  left: -24px;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-main-cont__nav-detail-wrp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

@media (max-width: 1376px) {
  .instr-main-cont__nav-name {
    padding-right: 10px;
  }
}

@media (max-width: 960px) {
  .instr-main-cont__nav-name {
    display: none;
  }
}

@media (max-width: 960px) {
  .instr-main-cont__name {
    display: none;
  }
}

.instr-pup-up-downloads {
  opacity: 0;
  max-height: 0;
  padding-left: 51px;
  max-width: 1014px;
  background-color: #ffffff;
  transition: max-height 0.6s;
}

.instr-pup-up-downloads__wrp {
  min-height: 43px;
  display: grid;
  grid-template-columns: 1.53fr 0.9fr 0.9fr 0.9fr 0.8fr;
  align-items: center;
  color: #8a8a8a;
  text-align: center;
}

.instr-pup-up-downloads__line-vertically {
  position: relative;
}

.instr-pup-up-downloads__line-vertically::before {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-pup-up-downloads__line-vertically::after {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-pup-up-downloads__line-vertically-data {
  position: relative;
}

.instr-pup-up-downloads__line-vertically-data::before {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-pup-up-downloads__line-vertically-data::after {
  content: "";
  height: 19px;
  width: 1px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #d1d1d1;
}

.instr-pup-up-downloads__name {
  text-align: left;
}

.instr-pup-up-downloads__color {
  color: #363636;
}

.active-instr {
  height: 500px;
}
