@import "_normalize";
@import "_variables_mixin.scss";
@import "_styleAdaptive.scss";
@import "_styleForBannerNew";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.ban-byr-ins {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  @include mobileWidth {
    & {
      flex-direction: column;
      text-align: center;
    }
  }
  &__img {
    width: 100%;
    height: 500px;
    position: relative;
    @include mobileWidth {
      & {
        height: 278px;
        // margin-bottom: 30px;
      }
    }
  }
  &__img-wrp {
    @include mobileWidth {
      & {
        height: 278px;
        margin-bottom: 30px;
      }
    }
  }
  &__text {
    max-width: 1500px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include textMainSol;
    @include startAdaptiveSmol {
      & {
        @include paddingMob;
      }
    }
    @include bigMobileWidth {
      & {
        font-size: 36px;
      }
    }
    @include mobileWidth {
      & {
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__text-wrp {
    max-width: 877px;
    margin-bottom: 15px;
    @include mobileWidth {
      & {
        max-width: 342px;
      }
    }
  }
  &__text-wrp-main {
    margin-bottom: 15px;
    font-size: 38px;
    @include fontBolt;
    text-transform: uppercase;
    @include mobileWidth {
      & {
        background-color: #ededed00;
        font-size: 24px;
      }
    }
  }
  &__img-wrp {
    width: 100%;
    height: 500px;
    object-fit: cover;
    @include mobileWidth {
      & {
        height: 278px;
      }
    }
  }
  &__text-p {
    max-width: 446px;
    font-size: 20px;
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__input {
    max-width: 385px;
    width: 100%;
    padding: 14px 16px;
    font-size: 16px;
    &::placeholder {
      color: #d1d1d1;
    }
  }
  &__form {
    width: 446px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 8px;
    @include mobileWidth {
      & {
        width: 330px;
      }
    }
  }
  &__btn {
    padding-right: 18px;
    position: relative;
    &::after {
      content: "";
      height: 30px;
      width: 1px;
      top: 9px;
      left: -18px;
      position: absolute;
      background-color: #d1d1d1;
    }
  }
}

.instr-main-cont {
  background-color: #e9e9e9;
  @include textMainSol;
  &__line {
    width: 100%;
    border-top: 1px solid #d1d1d1;
  }
  &__wrp {
    max-width: 1380px;
    @include marCenter;
    @include smScreenWidth {
      & {
        @include paddingMob;
      }
    }
    @include bigMobileWidth {
      & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__nav {
    height: 60px;
    display: grid;
    grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
    align-items: center;
    @include bigMobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
      }
    }
    @include mobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.4fr;
      }
    }
  }
  &__name-white {
    min-height: 43px;
    display: grid;
    grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
    align-items: center;
    background-color: #ffffff;
    word-wrap: break-word;
    @include bigMobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
      }
    }
    @include mobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.4fr;
      }
    }
  }
  &__name-black {
    min-height: 43px;
    display: grid;
    grid-template-columns: 0.53fr 1fr 1.4fr 1.2fr 0.6fr;
    align-items: center;
    background-color: #f6f6f6;
    word-wrap: break-word;
    @include bigMobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.6fr;
      }
    }
    @include mobileWidth {
      & {
        grid-template-columns: 0.53fr 1fr 0.8fr 0.4fr;
      }
    }
  }
  &__nav-code {
    padding-left: 32%;
    @include smScreenWidth {
      & {
        padding-right: 15px;
      }
      @include smallestScreenWidth {
        & {
          padding-left: 27%;
        }
      }
    }
    @include blockImgStatic {
      & {
        padding-left: 16px;
      }
    }
  }
  &__nav-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $mainColor;
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__nav-details-img {
    width: 11px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform 0.6s;
    @include mobileWidth {
      & {
        transform: rotate(0deg);
      }
    }
  }
  &__nav-details-main {
    display: flex;
    justify-content: center;
    position: relative;
    @include mobileWidth {
      & {
        display: none;
      }
    }
    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #d1d1d1;
      @include bigMobileWidth {
        & {
          // left: 33px;
        }
      }
    }
    &::after {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      right: 0;
      position: absolute;
      background-color: #d1d1d1;
      @include bigMobileWidth {
        & {
          display: none;
        }
      }
    }
  }
  &__nav-details-main-mob {
    display: none;
    position: relative;
    @include mobileWidth {
      & {
        display: block;
        @include marCenter;
      }
    }
    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: -23px;
      position: absolute;
      background-color: #d1d1d1;
    }
  }
  &__line-vertically-code {
    position: relative;

    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #d1d1d1;
      @include bigMobileWidth {
        & {
          display: none;
        }
      }
    }
  }
  &__line-vertically {
    position: relative;
    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: -24px;
      position: absolute;
      background-color: #d1d1d1;
      @include blockImgStatic {
        & {
          left: -15px;
        }
      }
    }
  }
  &__nav-detail-wrp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
  }
  &__nav-name {
    @include smScreenWidth {
      & {
        padding-right: 10px;
      }
    }
    @include bigMobileWidth {
      & {
        display: none;
      }
    }
  }
  &__name {
    @include bigMobileWidth {
      & {
        display: none;
      }
    }
  }
  &__nav-category {
    @include mobileWidth {
      & {
        max-width: 150px;
      }
    }
  }
}

.instr-pup-up-downloads {
  opacity: 0;
  max-height: 0;
  padding-left: 51px;
  max-width: 74%;
  // display: none;
  background-color: #ffffff;
  transition: max-height, opacity, 0.6s;
  // transition: opacity 0.6s;
  @include bigMobileWidth {
    & {
      padding-left: 16px;
    }
  }
  &__wrp {
    min-height: 43px;
    display: grid;
    grid-template-columns: 1.53fr 0.9fr 0.9fr 0.9fr 0.8fr;
    align-items: center;
    color: #8a8a8a;
    text-align: center;
    @include mobileWidth {
      & {
        grid-template-columns: 1.53fr 0.9fr 0.9fr;
      }
    }
  }
  &__line-vertically {
    position: relative;
    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #d1d1d1;
    }
    &::after {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      right: 0;
      position: absolute;
      background-color: #d1d1d1;
    }
  }
  &__data {
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__mob-ver {
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__line-vertically-data {
    position: relative;
    @include mobileWidth {
      & {
        display: none;
      }
    }
    &::before {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #d1d1d1;
    }
    &::after {
      content: "";
      height: 19px;
      width: 1px;
      top: 0;
      right: 0;
      position: absolute;
      background-color: #d1d1d1;
    }
  }
  &__name {
    text-align: left;
  }
  &__color {
    color: #363636;
  }
}

.active-instr {
  height: 500px;
}
